body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.butt{
  background-color: rgb(32, 32, 32);
  color : white ;
  font-size: 1.2rem;
  border: 2px rgba(255, 255, 255, 0.482) solid;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.butt:hover{
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.bg{
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(84, 84, 84);
}


.tile {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 62px;  /* Larger tiles */
  width: 62px;
  border: 2px solid black; /* Lighter border color */
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.line{
  display: flex;
  gap: 4px;
}

.block{
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Adds some breathing room */
}

.correct{
  background-color: greenyellow;
}

.wrong{
  background-color: gray;
}

.close{
  background-color: yellow;
}